git+https://github.com/Pycord-Development/pycordpython-dotenv
openai==0.28.1 
emoji
google-api-python-client
google-cloud-vision
tiktoken
bs4
discord-oauth2.py
black
orjson
simpleeval
replicate==0.15.5
anthropic
